*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    height: 200vh;

    margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 1.5em;
}

.header{
    width: 100%;
    background-color: rgb(235, 188, 196);
    padding: 20px 0;
}

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}





.menu{
    width: 100%;
    align-self: center;
    text-align:right;
}
nav a:hover{
            border-bottom: 3px solid rgb(78, 47, 52);
}

.menu__item{
    color: rgb(78, 47, 52);
    font-family: Arial;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__item:last-child{
    margin-right: 0;
}



.header_fixed{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    animation: showElement;
    animation-duration: 1s;
}

@keyframes showElement{
    0% {
        opacity: 0;
        top: -70px;
    }
    
    100% {
        opacity: 1;
        top: 0;
    }
}
.logo{
    display: block;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 20px;
}
.logo_foto{
    width: 100%;
    
}

.para p{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -600px;
            margin-left: 50px;
            margin-right: 50px;
            padding: 30px;
            font-size: 30px;
            color: rgb(121, 68, 68);
            font-family: Arial, Helvetica, sans-serif;
            background-color:rgb(238, 212, 215) ;
            border-radius: 20px;
            opacity: 0.9;
            box-shadow: 0 0 10px 3px;
        
        }


       





section {
	height: 100vh;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
           
}
.color1 {
    margin-top: -8px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,110,1) 55%, rgba(0,212,255,1) 100%);
   
}
section img{
    height: 400px;
    width: 280px;
    border-radius: 15px;
    box-shadow: 0 0 10px 3px;
}
.color2 {
    background:linear-gradient(90deg, rgb(247, 12, 51) 0%,rgb(250, 111, 134) 55%,rgb(243, 196, 204) 100%);
  
}
.color3 {
    background:linear-gradient(90deg,rgb(2, 170, 2) 0%,rgb(60, 129, 60) 55%,rgb(98, 128, 98) 100%);
    
}

section p {
    background-color:rgb(245, 219, 223);
	width: 900px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-left: 20px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px 3px;
   
   
}
footer{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(85, 85, 85);
    height: 250px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
footer .ftr2 img{
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 10px;
}

footer .ftr1 p{
    font-size: 20px;
    margin-left: 80px;
   
}
footer .ftr3 p{
    font-size:20px;
    margin-right: 50px;

}








body{
            background-color: rgb(238, 212, 215);
        }



        button{
        border-radius: 10px; 
        margin-bottom: 15px;
        margin-right: 15px;
        background-color: rgb(214, 138, 151);
        padding: 5px 10px;
        }
        .icon{
        font-size: 15px;
       

    }
   
    ul.topnav{
        list-style-type: none;
        overflow: hidden;
    }
    ul li {
        list-style-type: none;
        padding: 5px;
        margin-left: 5px;
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
    }
    ul li:hover{
        border-bottom: 3px solid rgb(78, 47, 52);
    }
   
   
  
    ul.topnav li.icon{
        display: none;
    }
    @media screen and (max-width:1400px){
        ul.topnav li:not(:first-child){display: none;}
       ul.topnav li.icon{
           float: left;
           display: inline-block;
       }
     
    }
    @media screen and (max-width:1400px){
        ul.topnav.responsive{
            position: relative;
        }
        ul li a{
            text-decoration: none;
            color: black;
            font-size: 20px;
            color:rgb(78, 47, 52) ;
            list-style-type: none;
           
        }
        
        
        
    }


        .about-me{
            margin: 0 auto;
            max-width: 700px;
            max-height: 900px;
            background-color: rgb(238, 212, 215);
        }
        .about-me h1{
            font-family: Arial, Helvetica, sans-serif;
           font-size: 50px;
           color: rgb(121, 68, 68);
           margin-top: 30px;
        }
       


        main{
            background-color: white;
            color: rgb(78, 47, 52);
            padding: 20px 30px;
            border-radius: 20px;
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            box-shadow: 0 0 10px 3px;
            margin-bottom: 40px;
            
        }
        main h1{
            margin-left: 33%;
        }
        aside img{
            width: 450px;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px 3px;
            margin-top: 40px;
            

            -webkit-transition-duration: 2s;
            -o-transition-duration: 2s;
            -moz-transition-duration: 2s;
            transition-duration: 2s;
        }
        aside{
            display: flex;
            align-items: center;
           
           
        }
       
        aside blockquote{
            background-color: beige;
            color: rgb(78, 47, 52);
            padding:10px;
            border-radius: 10px;
            margin-left: 40px;
            font-weight: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            transform: scale(0);
            transition:0.3s;
            box-shadow: 0 0 10px 3px;
        }
        img:hover+blockquote{
            transform: scale(1);
        }



        .contact{
           background-color:  rgb(240, 151, 162);
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
       }
        .contact h1{
           font-family: Arial, Helvetica, sans-serif;
           font-size: 50px;
           color: rgb(121, 68, 68);
           margin-top: 30px;
       }
        .contact input{
           width: 400px;
           padding: 5px;
           margin-top: 20px;
           border-radius: 5px;
           box-shadow: 0 0 10px 3px rgb(121, 68, 68);
       }
        .contact .inp input{
           width: 192px;
       }
     
       
       button{
           margin-top: 20px;
           margin-bottom: 40px;
           padding: 10px 20px;
           border-radius: 5px;
           box-shadow: 0 0 10px 3px rgb(121, 68, 68);
       }
       #text{
        width: 400px;
           padding: 5px;
           margin-top: 20px;
           border-radius: 5px;
           box-shadow: 0 0 10px 3px rgb(121, 68, 68);
           height: 200px;
           resize: none;
       }
       
      

     