:root {
    --red-color:127;
    --blue-color:127;
    --green-color:127;
   }
   
   .slider {
     display: inline;
     -webkit-appearance: none;
     height: 15px;
     border-radius: 5px;
     background: #d3d3d3;
     outline: none;
     -webkit-transition: .2s;
     transition: opacity .2s;
     width: 80%;
     margin-left: 5%;
   }
   
   .slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 25px;
     height: 25px;
     border-radius: 50%;
     background: #4CAF50;
     cursor: pointer;
   }
   
   .slider::-moz-range-thumb {
     width: 25px;
     height: 25px;
     border-radius: 50%;
     background: #4CAF50;
     cursor: pointer;
   }
   
   #rgb_value_container {
     /*margin: 16px auto;*/
     text-align: center;
     font-weight: bold;
     font-size: 20px;
   }
   
   #red_slider {
     background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, var(--green-color), var(--blue-color)));
   }
   
   #green_slider {
     background: linear-gradient(to right, rgb(0, 0, 0), rgb(var(--red-color), 255, var(--blue-color)));
   }
   
   #blue_slider {
     background: linear-gradient(to right, rgb(0, 0, 0), rgb(var(--red-color), var(--green-color), 255));
   }
   
   #color_box {
     width: 500px;
     height:500px ;
     margin: 30px auto;
     background-color: rgb(var(--red-color), var(--green-color), var(--blue-color));
   }
   #color_bx p{
       font-size: 50px;
       display: flex;
       justify-content: center;
       
   }
   #color_bx{
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, var(--green-color), var(--blue-color)));
       border: 1px solid;
       margin: 20px;
   }